@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
nav ul {
  display: flex;
  gap: 15px;
}
button {
  all: unset;
  padding: 6px 16px;
  background-color: var(--red);
  height: 32px;
  font-weight: 500;
  border-radius: 3px;
}
button:hover {
  background-color: var(--gray);
}
button a {
  color: #fff;
}
button a:hover {
  color: #000;
}
/* hero section */

.hero-section {
  padding-top: 60px;
  display: flex;
  align-items: center;
  height: 75vh;
}
.hero-section p {
  font-size: 15px;
}
.hero-button {
  display: flex;
  gap: 10px;
}
.hero-button .category {
  background-color: #fff;
  border: 1px solid #000;
}
.hero-button .category a {
  color: #000;
}
.hero-button .category:hover {
  background-color: var(--gray);
}
.branding-img {
  display: flex;
  gap: 8px;
}
.branding-img img {
  width: 30px;
  height: auto;
}
